body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}


header {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: center;
      
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-container {
    width: 900px;
    display: flex;
    justify-content: space-between;    
    flex-grow: 0;
    align-items: center;  
}

.hero {}